In [1]:
%matplotlib notebook

In [2]:
import pyspark
sc = pyspark.sql.SparkSession.Builder().getOrCreate()

In [3]:
import json
import numpy as np
import pandas as pd
import seaborn as sn

import matplotlib.pyplot as plt
from IPython.display import display, HTML
import math
import time
import matplotlib.animation as animation
from datetime import datetime, timedelta
import pyspark.sql.functions as F

from utils.emissions_normalizer import EmissionsNormalizer
from utils.knn_predictor import KnnPredictor
from utils.smoother import Smoother
from utils.random_predictor import RandomPredictor

from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

In [4]:
ANTENNAS_POSITION = [(464259.981343845,6110331.85100085),(463512.015195402,6111004.324434620),(464443.295130103,6111377.26171875),(464629.562194595,6111105.34734669)]
ANTENNAS_NAMES = ["RC1", "RC2", "D1", "D2"] 
X_0 = 462385.503783397
Y_0 = 6109042.35153865

for i in range(4):
    ANTENNAS_POSITION[i] = (ANTENNAS_POSITION[i][0]-X_0, ANTENNAS_POSITION[i][1]-Y_0)

GRID = Polygon(ANTENNAS_POSITION)

In [5]:
#GRID = Polygon([(1750,1600), (1750,2000), (2200, 2000), (2200, 1600)])
#GRID = Polygon([(1450,1800),(1450,2000),(2200,2000),(2200,1800)])



FEMALES = [11, 17, 20, 24, 26, 28, 30, 33, 34]
MALES = [10, 14, 21, 22, 23, 25, 27, 29, 31, 32]

## Entreno el modelo que vamos a usar para predecir

In [6]:
points_recep = sc.read.json('datos/train-test-by-emission.jsonlines/').rdd

In [7]:
normalizer = EmissionsNormalizer()
data = normalizer.normalize(points_recep)
regre_data, regre_target = normalizer.get_regression_dataframes(data)

In [8]:
predictor = KnnPredictor()
predictor.fit(regre_data, regre_target)

### Levanto el chekpoint en pandas

In [9]:
birds_data_complete = pd.read_parquet('tmp/checkpoint-cog.parquet')
birds_data = birds_data_complete.drop(columns=['tag_id','timestamp'])

### Obtengo las predicciones

In [10]:
predictions = predictor.predict(birds_data)
predictions = pd.concat([pd.DataFrame(predictions), pd.DataFrame(birds_data_complete)], axis=1).values

## Analizo coocurrencia en regiones uniformes

### Calculo en que region cayo la prediccion

In [11]:
X_REGION_SIZE = 300
Y_REGION_SIZE = 300


def set_prediction_in_regions_classification(predictions):
    grid_predictions = []
    for i in range(len(predictions)):
        prediction = predictions[i]
        point = Point(prediction[0], prediction[1])

        region = '{}-{}'.format(int(prediction[0]/X_REGION_SIZE), int(prediction[1]/Y_REGION_SIZE))

        grid_pred = np.insert(prediction, 8,region, axis=0)
        grid_predictions.append(grid_pred)
    return pd.DataFrame(grid_predictions, columns=['x', 'y', 'recep_0', 'recep_1', 'recep_2', 'recep_3', 'tag', 'time', 'region'])

### Obtengo el tiempo que cada posible pareja estuvo junta

In [12]:
def get_bird_timestamp_in_regions(bird_data, delta_time_in_sec):
    """
    delta_time_in_sec es la cantidad de segundos que decimos que el pajaro se encuentra en un mismo punto dada una prediccion
    Por default, el valor es 5, ya que las emisiones son cada 5 segundos.
    """
    timestamp_in_grid = []
    for row in zip(bird_data.time, bird_data.region):
        real_time = datetime.strptime(row[0], '%Y-%m-%d %H:%M:%S')
        for i in range(-delta_time_in_sec, delta_time_in_sec+1):
            res=real_time+timedelta(seconds=i)
            timestamp_in_grid.append((row[1], datetime.strftime(res, '%Y-%m-%d %H:%M:%S')))

    timestamp_in_grid = list(set(timestamp_in_grid))
    return pd.DataFrame(timestamp_in_grid, columns=['region','time'])


def get_matches_per_bird_in_regions(grid_predictions, delta_time):
    male_birds_in_grid = grid_predictions[(grid_predictions.tag.isin(MALES)) & (grid_predictions.region.notnull())]

    matches_per_bird_near_antenna = {}
    for female_bird in FEMALES:
        female_bird_in_grid = grid_predictions[(grid_predictions['tag'] == female_bird) & (grid_predictions.region.notnull())]
        timestamp_in_grid_pd = get_bird_timestamp_in_regions(female_bird_in_grid, delta_time)

        male_in_grid_with_female = male_birds_in_grid.join(timestamp_in_grid_pd.set_index(['region','time']), on=['region','time'], how='inner')

        female_matches = {}
        for index, row in male_in_grid_with_female.iterrows():
            tag = row['tag']
            current_matches = female_matches.get(tag, 0)
            female_matches[tag] = current_matches+1

        matches_per_bird_near_antenna[female_bird] = female_matches
    return matches_per_bird_near_antenna

In [16]:
FEMALES = [10, 14, 21, 22, 23, 25, 27, 29, 31, 32] + [11, 17, 20, 24, 26, 28, 30, 33, 34]
MALES = [10, 14, 21, 22, 23, 25, 27, 29, 31, 32] + [11, 17, 20, 24, 26, 28, 30, 33, 34]

In [ ]:
predictions = set_prediction_in_regions_classification(predictions)

In [17]:

matches_per_bird = get_matches_per_bird_in_regions(predictions, 5)


matrix_res = [[]] * len(FEMALES)
for i in range(len(FEMALES)):
    matrix_res[i] = []
    for m in MALES:
        matrix_res[i].append(matches_per_bird.get(FEMALES[i]).get(m, 0))

In [23]:
matrix_res_pd = pd.DataFrame(matrix_res)
matrix_res_pd.columns = MALES
matrix_res_pd.rename(index={i:FEMALES[i] for i in range(len(FEMALES))}, inplace=True)

In [24]:
matrix_res_pd

,10,14,21,22,23,25,27,29,31,32,11,17,20,24,26,28,30,33,34
10,3714,30,178,6,22,2,418,196,97,132,762,108,287,233,10,93,95,125,187
14,33,14958,315,291,85,170,313,186,557,91,15,620,631,353,213,431,647,137,216
21,199,331,21663,162,182,55,359,397,567,928,158,666,6295,764,152,274,369,1035,481
22,7,297,160,8373,45,154,69,114,177,59,0,382,276,239,216,157,343,106,105
23,26,71,170,39,5714,11,132,49,137,155,26,82,177,1257,24,40,99,172,95
25,2,169,54,142,12,3643,7,60,23,28,5,201,92,21,814,24,176,25,60
27,361,304,361,62,140,8,16100,937,278,641,304,505,753,842,27,69,216,649,942
29,193,198,411,129,62,58,928,17491,155,879,260,574,819,607,109,80,211,1094,5753
31,98,523,554,176,130,26,263,145,20869,782,63,1454,1178,1373,56,284,3190,862,154
32,137,97,976,66,151,27,673,934,902,35267,106,770,1827,1402,55,83,529,9743,927
11,804,18,153,0,26,4,374,242,69,115,2878,70,166,144,5,39,76,86,258
17,99,608,719,388,87,213,504,562,1553,750,74,25430,1401,1510,342,639,1326,926,618
20,295,646,6058,277,179,97,764,783,1208,1704,161,1365,41554,1439,223,470,778,1716,857
24,228,311,758,243,1174,19,862,614,1387,1374,158,1522,1473,30539,76,186,1025,1594,589
26,14,215,170,222,32,807,28,114,64,54,8,350,234,74,7714,33,289,75,79
28,99,414,280,150,35,21,72,76,293,80,45,630,491,185,30,6885,156,85,137
30,92,611,361,330,115,166,212,209,3317,476,81,1247,751,983,270,158,20009,498,253
33,123,159,1011,114,171,27,675,1120,921,9395,90,941,1733,1605,76,94,559,40239,1097
34,183,218,486,120,106,56,930,5695,168,861,275,619,886,598,83,154,262,1043,17254

In [21]:
import numpy as np
matrix_res_pd.values[[np.arange(matrix_res_pd.shape[0])]*2] = 0

<ipython-input-21-cb2ec5ac8d04>:2: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  matrix_res_pd.values[[np.arange(matrix_res_pd.shape[0])]*2] = 0

In [25]:
matrix_res_pd.to_csv('prettier/test_matrix_coocurrence.csv')